#projectContainer {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#headerContainer {
  width: calc(100%);
  height: 5rem;
  padding: 0.5rem;
  margin: 0;
  background-color: black;
}

#headerContainer {
  background-color: black;
  color: white;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2rem;
  position: relative;
}

#headerContainer img {
  width: 7rem;
  height: 80%;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem 0;
}

#headerContainer h2 {
  font-size: 2.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

#pictureContainer {
  width: 100%;
  height: calc(67.5vh - 2.5rem);
  background-color: crimson;
  /* border: 1px solid red; */
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#pictureContainer #album {
  width: 60% ;
  height: 100%;
  background-color: rgb(54, 62, 70);
  padding: 1rem;
}

.photoBox {
  width: 100%;
  height: 100%;
  background-color: rgb(216, 237, 255);
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-between;
  max-height: 100%;
  padding: 0.5rem;
  scroll-behavior: smooth;
}

.image-card {
  width: 32.5%;
  height: 49%;
  margin-bottom: 1.5%;
  text-align: center;
  border: 1px solid red;
  background-color: #031B28;
  color: whitesmoke;
  border: 2px solid #031B28;
  padding-bottom: 1rem;
}

#pictureContainer #singlePickout {
  width: 40%;
  height: 100%;
  background-color: #031B28;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* border: 1px solid green; */
}

#singlePickout header {
  width: 100%;
  height: 2.5rem;
  background-color: rgb(31, 56, 77);
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: lightblue;
}

/* toggle style  */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-left: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* toggle style ends */

#pictureContainer #singlePickout img {
  width: 70%;
  height: 65%;
  border: 5px solid rgb(54, 62, 70);
  border-radius: 5px;
  
}

#pictureContainer #singlePickout #stream {
  width: 80%;
  height: 70%;
  border: 5px solid rgb(54, 62, 70);
  border-radius: 5px;
  
}

#webcam {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

/* Updated style for Font Awesome icon */
#camera-icon {
  position: absolute;
  top:13.5%;
  left: 12%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 10;
}

#camera-icon:hover {
  color: lightgreen;
}


#pictureContainer #singlePickout h3 {
  color: skyblue;
  font-size: 1.2rem;
  text-align: center;
}

#pictureContainer #singlePickout button {
  width: 30%;
  color: #031B28;
  background-color: white;
  padding: 0.75rem 1.5rem;
  border: 2px solid white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

#analysisContainer{
  width: 100%;
  height: calc(32.5vh - 2.5rem);
  /* border: 1px solid blue; */
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#analysisHeader {
  width: 100%;
  height: 2.5rem;
  background-color: #031B28;
  border: 1px solid #031B28;
  border-top-color: rgb(156, 156, 156);
  color: rgb(156, 156, 156);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom-color: whitesmoke; */
}

#analysisHeader h6 {
  font-size: 0.75rem;
  color: rgb(178, 224, 240);
  font-weight: 100;
  margin: 0;
  padding: 0;
}

#progress-container {
  width: 100%;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  margin-left: 10px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #4caf50;
  transition: width 0.1s ease;
}

#analysis-content {
  width: 15%;
}

#status {
  font-size: 0.75rem;
  color: rgb(178, 224, 240);
  font-weight: 100;
  margin: 0;
  padding: 0;
  align-items: center;
  display: none;
  justify-content: space-between;
}

#status-text {
  font-size: 0.75rem;
  color: rgb(178, 224, 240);
  font-weight: 100;
  margin: 0;
  padding: 0;
  white-space: nowrap; /* Prevents text wrapping */
}

#result-message {
  font-size: 0.75rem;
  color: rgb(178, 224, 240);
  font-weight: 100;
  margin: 0;
  padding: 0;
  display: none;
  text-align: end;
}

#analysis-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
  padding: 1rem;
  width: 100%;
  height: calc(32.5vh - 5rem);
  max-height: calc(32.5vh - 5rem);
}

.analysis-box {
  width: 30%;
  padding: 1rem;
  /* border: 1px solid #ccc; */
  font-size: 0.85rem;
  color: rgb(178, 224, 240);
  font-weight: 100;
  margin: 0;
  padding: 0;
  line-height: 1rem;
  height: 100%;
  font-family: 'Cascadia Code', sans-serif;
}

.analysis-box h4 {
  color: rgb(255, 164, 255);
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

.analysis-box p {
  font-size: 0.85rem;
  color: rgb(233, 233, 233);
  font-family: 'Courier New', Courier, monospace;
  text-transform: capitalize;
}

.analysis-box p strong {
  font-size: 0.85rem;
  color: yellow;
  font-weight: bold;
  text-transform: uppercase;
}

.selectedImage_box {
  width: 95%;
  height: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid whitesmoke;
}

#depth-display {
  width: 95%;
  height: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  display: flex;
  color: lawngreen;
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  align-items: center;
  border: 1px solid whitesmoke;
}

.selectedImage_box #display-name {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.selectedImage_box #analyse-btn {
  width: 30%;
  height: 100%;
  border-radius: none;
}

#display-image {
  background-color: #ccc;
}

#save-analysis-btn {
  padding: 0.4rem 1rem;
  border-radius: 5px;
  /* align-self: center; */

}


#properties-container {
  overflow-y: auto;
  max-height: 100%;
  width: 35%;
  padding: 0 1rem;
}

#life-support-container {
  border-left: 1px solid lightslategray;
  border-right: 1px solid lightslategray;
  padding: 0 1rem;


}

#properties-container, #life-support-container, #analyst-container {
  flex: 1;
}

#analyst-container input,
#analyst-container textarea {
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 4px;
  color: lightblue;
  background-color: transparent;
}

#analyst-container input::placeholder,
#analyst-container textarea::placeholder {
  color: lightgray;
  text-transform: capitalize;
}

#life-support-container span {
  font-weight: bold;
}




@media screen and (min-width: 851px) and (max-width: 5000px) {
  .image-card:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.image-card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.image-name {
  margin-top: 5px;
  font-weight: bold;
}

@media  screen and (max-width: 1050px) {
  .image-name {
    font-size: small;
  }

  .photoBox {
    padding: 0.35rem;
  }
}

@media  screen and (max-width: 850px){
  .image-card {
    width: 47.5%;
  }

  .image-card:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  #pictureContainer #singlePickout img {
    width: 80%;
    height: 50%;
    border: 5px solid rgb(54, 62, 70);
    border-radius: 5px;
  }

  #headerContainer h2 {
    font-size: 1.5rem;
    text-align: right;
  }

  #analysis-section {
    margin-left: -10%;
    width: 40%;
  }
  
}

.report-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  background: #ffffff;
 
}
.letterhead {
  display: flex;
  width: 100%;
  height: 6.25rem; /* Adjust height as needed */
  background-color: rgb(0, 0, 59);
  color: whitesmoke;
  align-items: center;
}
.logo-section {
  width: 25%;
  height: 100%;
  background: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-top-right-radius: 50% 35%;
  border-bottom-right-radius: 50% 35%;

}
.logo-section img {
  max-width: 80%; /* Adjust as needed */
  height: auto;
}

.text-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5px 10px;
  box-sizing: border-box;
}

.text-section h1 {
  font-size: 28px;
  margin: 0;
  text-align: center;
}

.text-section p.date {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.report-section {
  padding: 12px 20px;
  width: calc(100% - 40px);
}

.report-section h2 {
  font-size: 1.25rem;
  margin-bottom: 5px;
  border-bottom: 2px solid #004d99;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.report-section p {
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 1.5;
}

.report-section img {
  width: 60%;
  height: 15rem;
  margin: 0.5rem 20%;
}

.report-section i {
  font-size: small;
  text-align: center;
  justify-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signature-line {
  text-align: left;
  margin-left: 20px;
}

.signature-line p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.signature-line hr {
  width: 50%;
  margin: 0 0 12px 0;
  border: 1px solid #004d99;
}

footer {
background-color: rgb(0, 0, 59);
color: whitesmoke;
text-align: center;
width: 100%;
height: 2rem;
display: flex;
justify-content: center;
align-items: center;
font-size: small;
}

#mudstone {
  width: 100%;
  height: 8rem;
  align-self: center;
  border: 2px solid rgb(0, 0, 59);
}

.together {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}